* {
  padding: 0px;
  margin: 0px; }

.App {
  background-color: black;
  color: #32cd32;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px; }

.UserMessageInput {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 25px; }
  .UserMessageInput input {
    height: 25px;
    border: 0px; }
    .UserMessageInput input[name="username"] {
      width: 100px; }
    .UserMessageInput input[name="message"] {
      width: calc(100% - 150px); }
  .UserMessageInput button {
    width: 50px;
    height: 25px; }

.Chat {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 30px; }
  .Chat > ul {
    position: absolute;
    bottom: 0px; }
    .Chat > ul > li {
      padding-left: 10px; }
      .Chat > ul > li .username {
        font-weight: bold; }
      .Chat > ul > li .message {
        padding-left: 10px; }
      .Chat > ul > li .date {
        padding-right: 10px; }
